<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form id="login-form" method="post" action="../controllers/login.php">
        <label for="email">Seu e-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="contato@email.com"
          required
        />

        <label for="senha">Sua senha</label>
        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="********"
          required
        />

        <div class="checkbox-group">
          <input type="checkbox" id="lembrar" name="lembrar" />
          <label for="lembrar">Permanecer Conectado</label>
        </div>

        <button type="submit">Logar</button>
      </form>

      <div class="registro-link">
        Ainda não tem conta? <a href="cadastro_usuario.html">Cadastre-se</a>
      </div>
    </div>
  </body>
</html>
